body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#jumbo {
  background-color: #5d89ac;
  text-align: center;
  font-family: "Alegreya Sans SC", sans-serif;
}

.mar_image,
#thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(0, 0, 0);
  -moz-box-shadow: 2px 2px 2px rgb(24, 24, 24);
  -webkit-box-shadow: 2px 2px 2px rgb(24, 24, 24);
  box-shadow: 2px 2px 2px rgb(24, 24, 24);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#jumbo_text {
  margin-top: auto;
  margin-bottom: auto;
}

.display-4 {
  font-size: 48px;
}

p.lead {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 28px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Alegreya Sans SC", sans-serif;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 32px;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 26px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

#portfolio-link {
  font-size: 14px;
}

#description {
  font-size: 16px;
}

.media-body {
  margin-bottom: 32px;
  text-align: left;
}

.media-body2 {
  text-align: left;
}

.col-md-auto {
  margin-left: auto;
  margin-right: auto;
}

#headerButton {
  margin-right: 10px;
  border: 2px solid rgb(0, 0, 0);
  -moz-box-shadow: 2px 2px 2px rgb(24, 24, 24);
  -webkit-box-shadow: 2px 2px 2px rgb(24, 24, 24);
  box-shadow: 2px 2px 2px rgb(24, 24, 24);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#project {
  font-size: 26px;
}
